.EnableButton {
  margin-left: 10px;
  padding: 5px;
  border-radius: 0.8rem;
  background-color: #c4c4c4;
  cursor: pointer;
}

.EnableButton.enabled {
  background-color: green;
}

.EnableButton.disabled {
  background-color: red;
}
